---
layout: sidbar_removed
---

<!--
    Temporary
-->

{% for post in site.posts %}
 <div class='Modal is-hidden is-visuallyHidden' id='{{ post.title }}'>
     <div class='Modal-content'>
         <span id="closeModal" class="Close" onclick="closeModal('{{ post.title }}')">&times;</span>
        {{ post }}
    </div>
 </div>
 {% endfor %}

<body>
    <div class="loader">
        <img src="/images/loading.gif" alt="Loading...">
    </div>

    <div id="main">

        <!-- Toggle -->
            <script>
                function toggleHeader(){
                    document.getElementById("header").classList.toggle('hidden');
                    document.getElementById("wrapper").classList.toggle('expand');
                    document.getElementById("toggle-btn").classList.toggle('shift');
                }
            </script>

        <!-- All posts -->
                <div id="myBtnContainer">
                    <button class="btn" onclick="filterSelection('blog')">Blog</button>
                    <button class="btn" onclick="filterSelection('works')">Works</button>
                    <button class="btn active" onclick="filterSelection('all')">Show all</button>
                </div>

                <h3 style="padding-left: 20px; color: #5ad3fe">All Posts</h3>
                <ul style="list-style-type: none">
                    {% for post in site.posts %}
                        <div class="cards {{ post.filter }}">
                            <a href="{{ post.url }}" class="title">{{ post.title }}</a>
                                <div class="image_box">
                                    <img src="{{base.url}}/images/posts/{{post.img}}" class="img_all">
                        <p style="margin-bottom: auto; padding: inherit">{{ post.excerpt }}</p>
                                </div>
                        </div>
                    {% endfor %}
                </ul>
            </div>
    </div>
</body>

<script>

function filterSelection(sort_by){
    var i, x;
    x = document.getElementsByClassName('cards');
    for( i=0; i < x.length; i++){
        if(x[i].className == "cards " + sort_by || sort_by == "all"){
            x[i].style.display = "block";
        }
        else {x[i].style.display = "none";}
    }
}

var btnContainer = document.getElementById("myBtnContainer");
var btns = btnContainer.getElementsByClassName("btn");
for(var i = 0; i < btns.length; i++){
    btns[i].addEventListener("click", function(){
        var current = document.getElementsByClassName("active");
        current[0].className = current[0].className.replace(" active", "");
        this.className += " active";
    });
}

</script>
