blockquote{
	border-left-style: solid;
	border-left-color: rgb(228, 228, 228);
	border-left-width: 8px;
	font-style: italic;
	margin-bottom: 2.25em;
	padding: 0.5em 0 0.5em 2em;
}

pre code{
	display: block;
	line-height: 1.5em;
	overflow-x: auto;
	padding: 1em 1.5em;
}

code{
	background: #555;
	border-radius: 5px;
	color: #fff;
	font-family: "Source Code Pro", monospace;
	font-size: 0.9em;
	margin: 0 0.25em;
	padding: 0.25em 0.65em;
}

h1{
	text-align: center;
	color: #777;
	font-family: Lato;
	font-weight: 700;
	font-size: 2.75em;
}

a{
	font-family: Lato;
	color: #5ad3fe;
	text-decoration: none;
}

.date{
	text-align: center;
	font-family: Lato;
	font-size: larger;
	margin: -15px;
}

.body{
	font-family: Lato;
	font-size: large;
	margin: 10px;
}

img{
	display: block;
	margin: auto;
}
